.user-information{
    position: absolute;
    width: 100%;
    clear: both;
    text-align: center;
}
.user-information ul li{
    list-style: none;
    }
.user-information button{
    font-family: inherit;
    font-weight: 300;
    padding: 7px;
    margin: 15px;
    width: 100px;
    border-radius: 5px;
}
.user-information ul li strong{
    text-align: left;
}